NEXT_PUBLIC_REPORT_BUILDER_URL=
NEXT_PUBLIC_DONATION_URL=
NEXT_PUBLIC_SHOW_INTERNAL_NAV=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_CASE_RUNS_TABLE=
INTERNAL_ROUTE_USER=
INTERNAL_ROUTE_PASSWORD=
